body {
  padding: 0;
  margin: 0;
  background: #0c0c0c;
}
.navbar {
  color: #0c0c0c;
  background: #0c0c0c;
}
.bg-dark {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #0c0c0c;
}
.navbar-collapse {
  justify-content: flex-end;
}
